{% extends "layout.html" %}

{% block main %}

    <!-- http://getbootstrap.com/docs/4.1/content/typography/ -->
    <h1 class="mb-3">Table</h1>

    <!-- https://getbootstrap.com/docs/4.3/content/tables/ -->
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">Title</th>
          <th scope="col">First</th>
          <th scope="col">Last</th>
          <th scope="col">House</th>
        </tr>
      </thead>
      <tbody>
        {% for record in records %}
          <tr>
            <td>{{ record[0] }}</td>
            <td>{{ record[1] }}</td>
            <td>{{ record[2] }}</td>
            <td>{{ record[3] }}</td>
          </tr>
        {% endfor %}
      </tbody>

{% endblock %}